.Menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 6px rgb(225, 225, 225);
  margin: 30px;
  border-radius: 30px;
  box-shadow: #c1c1c1 5px 10px 20px;
}

.Corner-logo {
  height: 10vmin;
}

.Home-graphic {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
  height: auto;
}

.Events-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #592C88;
  height: 425px;
}

.Event-header {
  color: white;
}

.Officers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.Officer:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

/* .Officer:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
} */

.Baseboard {
  padding: 30px;
  color: white;
  font-size: large;
  background-color: #1e2124;
}

.Social {
  margin: 10px;
  width: 50px;
}

.Standard-button {
  background-color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-family: Fira Code;
}

.Purple-button {
  background-color: #592C88;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-family: Fira Code;
  color: white;
}

.Gold-button {
  background-color: #C1A875;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  width: 180px;
  height: 70px;
  font-weight: bold;
  font-size: larger;
  font-family: Fira Code;
  color: white;
}

.Standard-button:hover, .Purple-button:hover, .Gold-button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.Standard-button:not(:hover), .Purple-button:not(:hover), .Gold-button:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 68vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  font-weight: normal;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: Fira Code;
  src: url('https://fonts.googleapis.com/css?family=Fira Code');
}

h1 {
  font-family: Fira Code;
  font-weight: bold;
}

h2 {
  font-family: Fira Code;
  font-weight: bold;
}

p {
  font-family: Fira Code;
}